<% layout("/layouts/boilerplate.ejs") %>
<body>
  <!-- <h3 class="text-center my-4">All listings!</h3> -->
    
   <div class="topp" style="width: 90%; margin: 0 auto;">
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1">
      <% for (let listings of allListings) { %>
        <div class="col-md-4 mb-4">
          <div class="listing-card" style="width: 100%;">
            <a href="/listings/<%=listings._id %>" id="listing-link">
            <img src="<%= listings.image %>" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="listing-title"><b></b><%= listings.title %></b></p>
              <p class="listing-price">
                  ₹<%= listings.priceFormatted %>/night
              </p>
            </div>
            </a>
          </div>
        </div>
        
      <% } %>
    </div>
  </div>
 <script>
  const listings = <%- JSON.stringify(allListings.map(l => ({
    title: l.title.toLowerCase(),
    url: "/listings/" + l._id
  }))) %>
</script>
</body>
