<% layout("/layouts/boilerplate.ejs") %>
<div class="content-wrapper">
    <h3 class="text-center mb-4">Property Details</h3>
    <div class="showcard">
        <img src="<%=listing.image %>" class="card-img-top" alt="...">
        <div class="card-body">
            <h3 class="card-title" style="margin-bottom: 1rem ; margin-top:1rem"><%=listing.title %></h3>
                <p><%=listing.description %></p>
                <p>&#8377;<%=listing.priceFormatted %></p>
                <p><%=listing.location %></p>
                <p><%=listing.country %></p>
            </ul>
            
            <div class="d-flex gap-2 flex-wrap btns">
                <a href="/listings/<%=listing._id%>/edit" class="btn btn-primary">Edit Listing</a>
                <form method="post" action="/listings/<%=listing._id%>?_method=DELETE" style="display: inline-block;">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>